@font-face {
  font-family: 'LGSmartUI';
  src: url('../assets/fonts/LG_Smart_UI-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'LGSmartUI';
  src: url('../assets/fonts/LG_Smart_UI-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'LGSmartUI';
  src: url('../assets/fonts/LG_Smart_UI-Semibold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'LGSmartUI';
  src: url('../assets/fonts/LG_Smart_UI-Bold.ttf') format('truetype');
  font-weight: 700;
}

:root {
  font-family: 'LGSmartUI';
  line-height: 1.5;
  font-weight: 400;
  color: #181311;
  background: #dbe9ef;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100vh;
}

body {
  margin: 0;
  background: #dbe9ef;
}

button,
input,
textarea,
select {
  font: inherit;
}
