APP_NAME=Thinq Parent API
APP_VERSION=0.1.0
APP_ENVIRONMENT=local
APP_DEBUG=true
APP_API_V1_PREFIX=/api/v1
APP_FRONTEND_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=XE
ORACLE_SID=
ORACLE_USERNAME=lghr
ORACLE_PASSWORD=your-local-password
ORACLE_USE_THICK_MODE=true
ORACLE_CLIENT_LIB_DIR=C:\oracle\instantclient_19_25
ORACLE_ECHO_SQL=false
AUTH_SESSION_HOURS=12
ORACLE_MAX_IDENTIFIER_LENGTH=30

